body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
}
.nav-container {
  margin: 10px;
}
.nav-container button {
  display: inline-block;
  margin: 10px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #69c;
  color: #37a;
  cursor: pointer;
}
.chart-title {
  font-size: 1.3rem;
  width: 80px;
  margin-right: 1rem;
}
.chart-container {
  display: flex;
  margin: 20px;
  border: 1px solid #ccc;
  padding: 5px;
}
.charts-container button {
  margin: 20px;
  font-size: 1.3rem;
}

.bar-labels {
  margin-right: 10px;
}

.bar-label {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}